<aside class="share">

  <p>If you liked this article and think others should read it, please
    <a id="twitterShare" href="http://twitter.com/share?text={{page.title}}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ site.twitter_username }}">share it on Twitter <i class="fa fa-twitter" aria-hidden="true" style="color:#00aced"></i></a>    or
    <a id="facebookShare" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">Facebook <i class="fa fa-facebook-square" aria-hidden="true" style="color:#3b5998"></i></a>.
  </p>

</aside>
<script>
  document.getElementById('twitterShare').addEventListener('click', function (event) {
    event.preventDefault(); window.open(this.href, 'twitter-share', 'width=550,height=235');
  });
  document.getElementById('facebookShare').addEventListener('click', function (event) {
    event.preventDefault(); window.open(this.href, 'facebook-share', 'width=550,height=235');
  });
</script>